@charset "UTF-8";
/* CSS Document */


body {
	background:url(../images/background.jpg);
	
	background-attachment:fixed;
	margin:0;
	padding:0;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position:top;
	background-repeat:no-repeat;
	background-color:#333;
	min-height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: helvetica;
}

h1 
{
    font-weight:normal;
    display:inline;
    padding:0;
    font-family:helvetica;
    font-size:28px;
}

h2
{
    font-weight:normal;
    font-family:helvetica;
	color:#fff;
}

p {
	line-height:19px;
	text-align:justify;
	margin-bottom:20px;
}

.cleaner {
	clear:both;
}



.backbutton {
	padding:10px;
	border:0;
	text-decoration:none;
	color:#999;
	text-transform:uppercase;
	font-weight:normal;
	font-size:18px;
}

.backbutton:hover
{
	color:#385E70;
}

.backbutton img	{
	height:36px;
	vertical-align:middle;
	margin-right:10px;
}



/*----------------------------------------------------------------------------------------------------------*/


hr {
	height:3px;
	border:0;
	background:none;
	border-top:#fff dotted 1px;
	margin:20px auto;
	width:90%;
}



.footer
{
    padding:30px;
    color:#fff;
    font-size:12px !important;
    width:100%;
    margin:40px auto 0;
	position:absolute;
	z-index: 5;
	bottom:0;
	margin-top:90px;
}

.footer li {
			list-style-type:none;
		}
		
		.footer li a {
			text-decoration:underline;
			color:#fff;
		}

/*----------------------------------------------------------------------------*/

ui-datepicker-calendar table
{
     font-size:10px;
}

.ui-datepicker-calendar td, .ui-datepicker-calendar th
{
    font-size:10px;
}

.ui-datepicker-calendar th
{
    font-weight:bold;
}

ui-datepicker-month
{
}

ui-datepicker-year
{
}



.buttonpanel
{
    margin:30px auto;
    text-align:center;
    width:auto;
    display:block;
}

.buttonpanel a
{
    margin:0 10px;
}