<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPointsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.vaultgate.com/points/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPointsService"
                contract="PointsService.IPointsService" name="BasicHttpBinding_IPointsService" />
        </client>
    </system.serviceModel>
</configuration>