<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Points_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Points_Client.Properties.Settings.PointsConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Points;User ID=sa;Password=q1w2e3r4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPointsService" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.vaultgate.com/points/service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPointsService" contract="PointsServiceReference.IPointsService"
                name="BasicHttpBinding_IPointsService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Points_Client.Properties.Settings>
            <setting name="BackupFolder" serializeAs="String">
                <value>C:\TEMP\POINTS</value>
            </setting>
            <setting name="CustomersFile" serializeAs="String">
                <value>C:\Temp\Customers.csv</value>
            </setting>
            <setting name="CustomersProcessedFolder" serializeAs="String">
                <value>C:\Temp\Processed\Customers.csv</value>
            </setting>
        </Points_Client.Properties.Settings>
    </userSettings>
</configuration>